
.left-pic-and-right-content-title {text-align:center;}
.left-pic-and-right-content-title-ul ul{ margin-bottom: 30px; text-align: center;}
.left-pic-and-right-content-title-ul ul li {display: inline-block;margin-left: 2px;}
.left-pic-and-right-content-title-ul ul li a{display: inline-block;line-height: 30px;padding: 0 15px;border-width:1px; border-style:solid ;}

