<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><?php echo lang('onlinepayment');?></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <meta name="author" content="CmsEasy Team" />
    <link rel="icon" href="<?php echo get('site_ico');?>" type="image/x-icon" />
    <link rel="shortcut icon" href="<?php echo get('site_ico');?>" type="image/x-icon" />
    <link href="<?php echo $base_url;?>/common/css/bootstrap/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="data:text/css;charset=utf-8," data-href="<?php echo $skin_user_path;?>/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
    <link rel="stylesheet" href="<?php echo $skin_user_path;?>/css/orders.css" />
    <script src="<?php echo $base_url;?>/common/js/jquery/jquery.min.js"></script>
    <style type="text/css">
        .cation-btn,.cation-btn:hover,.cation-btn:visited,.cation-btn:active {display: inline-block;
            height:50px;
            line-height: 50px;
            border: 1px solid #FF6801;
            padding: 0 40px;
            font-size: 18px;
            color: #fff;
            background: #FF6801;border-radius: 0px;}
        .cation-btn:hover {opacity:0.8;}
    </style>
</head>
<body>

<div class="container">

<script>


</script>



    <?php if( !$user['userid']) { ?>
    <div class='tip_box' style='width:150px;margin:0px auto;margin-top:50px;padding:20px;border:5px solid #ccc;border-radius: 5px 5px 5px 5px;text-align:center;'>
        <?php echo lang('not_logged');?>，<a href="<?php echo url('user/register');?>" style=" text-decoration: underline; color: blue;"><?php echo lang('please');?><?php echo lang('register');?>！</a>
    </div>
    <?php } else { ?>

    <div class="blank30"></div>
    <a href="{url('user/index')}" target="_blank" class="btn btn-default btn-lg pull-right"><?php echo lang('backhome');?></a>



    <!-- 中部开始 -->



    <form action="<?php echo uri();?>" id="consumption" name="consumption" method="post" onsubmit="return check()">


        <div id="step1" >
            <div class="t_1">
            <div>
                <h3><a href="<?php echo $cat['url'];?>" title="<?php echo $cat['catname'];?>"><?php echo lang('now_turn_to_pay_page');?></a></h3>

            </div>
        </div>
            <div class="form-group">
                <label>{lang('recharge_amount')}</label>
                <input type="text" class="form-control" name="menoy" placeholder="{lang('recharge_amount')}" />
            </div>

            <div class="container">
                <div class="row">
                    <div style="width:100%;padding:0px 10px; display: table;">
                        <?php if($paylist) { ?>
                        <?php if(is_array($paylist))
                        foreach($paylist as $i => $pay) { ?>
                        <?php if($pay['enabled']==1) { ?>
						<div class="col-md-3 col-xs-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="payname" value="<?php echo $pay['pay_code'];?>" checked>
                                <img src="<?php echo $pay['pay_image'];?>" height="26" style="margin-right: 10px"><?php echo $pay['pay_name'];?><?php if($pay['pay_fee'] > 0 ) { ?><small> <?php echo lang('rates');?>：<?php echo $pay['pay_fee'];?>%</small><?php } ?>
                            </label>
                        </div>
                        </div>
                  
                        <?php } ?>
                        <?php } ?>
                        <?php } else { ?>
                        <?php echo lang('nopayment');?>
                        <?php } ?>
                    </div>
                    <div class="blank30"></div>
                    <button class="btn cation-btn"  type="submit" name="submit" value="<?php echo lang('buy');?>"><?php echo lang('buy');?></button>
                </div>
            </div>
        </div>
</div>
</div>
</form>

<div class="blank30"></div>

<div class="copy">
    <?php echo get('site_right');?> <a title="<?php echo get('sitename');?>" href="<?php echo $base_url;?>/"><?php echo get('sitename');?></a>&nbsp;&nbsp;{getCopyRight()}
</div>
</div>
<?php } ?>
</div>
</div>

<!-- Bootstrap Js -->
<script src="<?php echo $base_url;?>/common/css/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script>



</style>

<div class="servers-wap">
    <?php if(config::get('wap_foot_nav')=='1') { ?>
    <?php echo template('system/foot_nav_a.html'); ?>
    <?php } elseif (config::get('wap_foot_nav')=='2') { ?>
    <?php echo template('system/foot_nav_b.html'); ?>
    <?php } elseif (config::get('wap_foot_nav')=='3') { ?>
    <?php echo template('system/foot_nav_c.html'); ?>
    <?php } else { ?>
    <?php } ?>
</div>

</body>
</html>