
.type-title{position: relative;padding: 30px 0;}
.type-title h1 { clear:both; display:inline-block;margin:0px 0px 0px 0px;}
.type-title p { clear:both; display:inline-block; }
.type-title span {display: block; margin-top: 30px;}
