
.category-banner {position: relative; overflow:hidden;}
.category-banner .category-banner-img {position: revert; z-index: 1; height:100%;text-align:center;}
.category-banner .category-banner-img img {width:100% !important;object-fit:cover;min-height:100%;}
.category-banner .category-banner-title {position: absolute; top:50%;transform: translateY(-50%) !important; width:100%; z-index: 2;}
.category-banner .category-banner-title h1 {display:inline-block;line-height:1.8;padding-bottom:5px;}
.category-banner .category-banner-title p {display:inline-block;}
@media (min-width:768px) {
    .category-banner .category-banner-title p {
        width:60%;
    }
}
@media (max-width:768px) {
    .category-banner {height:auto !important;}
}