{template 'header.html'}<div class="clearfix view-html">
	<div class="container-fluid clearfix">
		<div class="row column">
			<div class="tag">
				{tag_sections_common_picture_5}
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="container clearfix" style="z-index: 7;">
		<div class="column">
			<div class="tag" style="background-image: url(''); margin-top: 15px;">
				{tag_sections_common_notifications_40}
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="container clearfix">
		<div class="column">
			<div class="tag">
				{tag_sections_common_sitemap_2}
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
</div>{template 'footer.html'}