
{if (config::get('comment_switch')==2)}
{elseif (config::get('comment_switch')==0 || (session::get('username')!='' && config::get('comment_switch')==1))}
{if config::get('comment_list')=='1'}
<link href="{$skin_path}/css/comment.css" rel="stylesheet">
<!-- 评论列表开始 -->
<div class="comment_list">
	{loop $comments $comment}
	<div class="comment_content_item">
		<div class="comment_head col-xs-3 col-sm-1">
			<img src="{user::getuserimg($comment['username'])}" alt="headimage" class="img-responsive">
		</div>
		<div class="col-xs-9 col-sm-11">
			<p><strong>{$comment['username']}</strong><span>{sdate($comment['adddate'],'Y-m-d H:i')}</span></p>
			<div class="comment_content ">
				<p>{strip_tags($comment['content'])}</p>
			</div>
	{if $comment['reply']}
	<div style="margin:10px 0px 0px 15px;">
		<p>{lang('adminreply')}：</p>
		<div class="comment_content">
			<dd class="comment_admin_reply">
				<p>{$comment['reply']}</p>
			</dd>
		</div>
	</div>
	{/if}
			<div class="blank10"></div>
		</div>
	</div>
	{/loop}
</div>
{else}
{/if}
{/if}

