

.mail-subscription .form-control {height:38px;line-height:38px;}
.mail-subscription .input-group .input-group-btn .btn-default { height:38px;line-height:38px; padding: 0px 12px; border-width:1px; border-style:solid;}



