





.special-banner {position: relative; overflow:hidden;}
.special-banner .special-banner-img {position: relative; z-index: 0;height:100%;text-align:center;}
.special-banner .special-banner-img img {width:100% !important;object-fit:cover;min-height:100%;}
.special-banner {position: relative; overflow:hidden;}

.special-banner .special-banner-title {position: absolute; top:50%;transform: translateY(-50%) !important; width:100%; z-index: 2;}
.special-banner .special-banner-title h1 {display:inline-block; padding-bottom:5px;line-height:1.8;}
.special-banner .special-banner-title p {display:inline-block;}
@media (min-width:768px) {
    .special-banner .special-banner-title p {
        width:60%;
    }
}
@media (max-width:768px) {
    .special-banner {height:auto !important;}
}