{template_user 'head.html'}

<div class="main-right-box">
    <h5>管理域名</h5>
    <div class="blank20"></div>
    <div class="box">


            <div class="user-content-table-nav">
                <ul>
                    <li><a href="{url('manage/vhostlist/manage/vhost/type/all')}" <?php if($type=='all'){?>class="active" <?php }?>>所有主机</a></li>
                    <li><a href="{url('manage/vhostlist/manage/vhost/type/trial')}" <?php if($type=='trial'){?>class="active" <?php }?>>试用主机</a></li>
                    <li><a href="{url('manage/vhostlist/manage/vhost/type/buy')}" <?php if($type=='buy'){?>class="active" <?php }?>>正常主机</a></li>
                </ul>
            </div>
            <div class="blank30"></div>


            <div class="index-title">
                <h4>网站信息</h4>
            </div>
            <div class="user-content">

                
<style type="text/css">
    .z_banner {
        background: url(../images/0555.jpg) center top repeat;
        text-align: center;
        padding: 170px 0;
        overflow: hidden;
    }
    .rowFluid {
        clear: both;
    }
    .rowFluid:before, .rowFluid:after, .column:before, .column:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        visibility: hidden;
        overflow: hidden;
    }
    .domain-title {
        text-align: center;
        color: #fff;
        font-size: 34px;
    }
    .domain-search-box {
        position: relative;
        margin: 0 auto;
        width: 724px;
        height: 54px;
        margin-top: 50px;
    }
    .domain-search-input {
        display: block;
        border: 1px solid #ccc;
        width: 482px;
        height: 54px;
        background: #fff;
        padding-left: 30px;
        line-height: 54px;
        font-size: 18px;
        outline: none;

    }
    .domain-search-input, .domain-drop-trigger, .domain-search-button {
        float: left;
    }
    .domain-drop-trigger {
        position: relative;
        width: 119px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        color: #333;
        background: #fff;
        font-weight: bold;
        cursor: pointer;
        font-size: 18px;
    }
    .domain-drop-trigger:before {
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        width: 1px;
        height: 45px;
        background: #c8c8c8;
    }
    .domain-drop-trigger:after {
        content: "";
        position: absolute;
        background: url(../images/search_icon_arrow.png) no-repeat center;
        right: 11px;
        top: 50%;
        margin-top: -2px;
        width: 12px;
        height: 8px;
        transition: transform 0.3s ease;
    }
    .domain-search-button {
        width: 123px;
        height: 54px;
        border: none;
        background: #00aaff;
        line-height: 54px;
        font-size: 18px;
        color: #fff;
        outline: none;
        cursor: pointer;
    }
    .domain-search-list {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 54px;
        z-index: 10;
        padding: 20px 19px;
        background: #f5f5f5;
    }
    .checkbox-item.checked {
        background-image: url(../images/domain_checkbox_checked.png);
    }
    .checkbox-item {
        position: relative;
        float: left;
        width: 98px;
        height: 16px;
        margin-bottom: 17px;
        padding-left: 26px;
        line-height: 16px;
        background: url(../images/domain_checkbox.png) no-repeat left center;
        color: #333;
        font-size: 14px;
        cursor: pointer;
        transition: background 0.2s ease-out;
    }
    .checkbox-item span {
        float: left;
    }
    .hide {
        display: none;
    }
    .operate-area {
        border-top: 1px solid #c8c8c8;
        padding-top: 20px;
        text-align: left;
    }
    .operate-area label {
        position: relative;
        margin-right: 10px;
        color: #333;
        font-size: 14px;
        cursor: pointer;
    }
    .domain-search-list .operate-area label input {
        visibility: hidden;
    }
    .operate-area label input {
        outline: none;
        vertical-align: middle;
    }

</style>
                <script src="{$skin_path}/js/domain_reg.js"></script>

                <div class="z_banner support_z_banner">
                    <div class="rowFluid">
                        <div class="span12">
                            <div class="container">
                                <!-- <h3 class="z_banner_title">域名查询</h3> -->
                                <script>
                                    function CheckIfEnglish( String )
                                    {
                                        var Letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890-";
                                        var i;
                                        var c;
                                        if(String.charAt( 0 )=='-')
                                            return false;
                                        if( String.charAt( String.length - 1 ) == '-' )
                                            return false;
                                        for( i = 0; i < String.length; i ++ )
                                        {
                                            c = String.charAt( i );
                                            if (Letters.indexOf( c ) < 0)
                                                return false;
                                        }
                                        return true;
                                    }
                                    function domainsearchen() {

                                        if (document.searchform.name.value == "") {
                                            alert("请输入您要查询的英文域名。");
                                            document.searchform.name.focus();
                                            return false;
                                        }

                                        if (!CheckIfEnglish(document.searchform.name.value )) {
                                            alert("在查询英文域名应输入英文不能输入中文及非法字符！");
                                            document.searchform.name.focus();
                                            return false;
                                        }
                                        document.searchform.submit();
                                    }
                                </script>
                                <link rel="stylesheet" type="text/css" href="/newuser/skin/css/domain.css">
                                <script src="/newuser/skin/js/jquery.cookie.js"></script>
                                <script src="/newuser/skin/js/index.min.js"></script>
                                <div class="domain-search-outer">
                                    <div class="domain-title">
                                        注册一个域名，实现无限可能
                                    </div>
                                    <form action="/manager/domaincheck.asp" method="post" name="searchform" onsubmit="return domainsearchen();">
                                        <div class="domain-search-box clearfix">
                                            <input type="text" name="name" class="domain-search-input" placeholder="请输入域名" maxlength="63">
                                            <div class="domain-drop-trigger">
                                                .com
                                            </div>
                                            <input id="domainIndexSubmit" type="button" value="查询域名" class="domain-search-button" autocomplete="off">
                                            <div class="domain-search-list">
                                                <div class="checkbox-area clearfix">
                                                    <!-- checkbox循环 -->

                                                    <div data-name=".com" class="checkbox-item checked">
                                                        <span class="item-name">.com</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".com" checked="">
                                                    </div>

                                                    <div data-name=".vip" class="checkbox-item checked">
                                                        <span class="item-name">.vip</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".vip" checked="">
                                                    </div>

                                                    <div data-name=".net" class="checkbox-item ">
                                                        <span class="item-name">.net</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".net">
                                                    </div>

                                                    <div data-name=".top" class="checkbox-item ">
                                                        <span class="item-name">.top</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".top">
                                                    </div>

                                                    <div data-name=".cn" class="checkbox-item checked">
                                                        <span class="item-name">.cn</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".cn" checked="">
                                                    </div>

                                                    <div data-name=".org" class="checkbox-item ">
                                                        <span class="item-name">.org</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".org">
                                                    </div>

                                                    <div data-name=".gov" class="checkbox-item ">
                                                        <span class="item-name">.gov</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".gov">
                                                    </div>

                                                    <div data-name=".biz" class="checkbox-item ">
                                                        <span class="item-name">.biz</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".biz">
                                                    </div>

                                                    <div data-name=".info" class="checkbox-item ">
                                                        <span class="item-name">.info</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".info">
                                                    </div>

                                                    <div data-name=".cc" class="checkbox-item ">
                                                        <span class="item-name">.cc</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".cc">
                                                    </div>

                                                    <div data-name=".tv" class="checkbox-item ">
                                                        <span class="item-name">.tv</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".tv">
                                                    </div>

                                                    <div data-name=".me" class="checkbox-item ">
                                                        <span class="item-name">.me</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".me">
                                                    </div>

                                                    <div data-name=".wang" class="checkbox-item ">
                                                        <span class="item-name">.wang</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".wang">
                                                    </div>

                                                    <div data-name=".hk" class="checkbox-item ">
                                                        <span class="item-name">.hk</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".hk">
                                                    </div>

                                                    <div data-name=".tel" class="checkbox-item ">
                                                        <span class="item-name">.tel</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".tel">
                                                    </div>

                                                    <div data-name=".travel" class="checkbox-item ">
                                                        <span class="item-name">.travel</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".travel">
                                                    </div>

                                                    <div data-name=".asia" class="checkbox-item ">
                                                        <span class="item-name">.asia</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".asia">
                                                    </div>

                                                    <div data-name=".name" class="checkbox-item ">
                                                        <span class="item-name">.name</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".name">
                                                    </div>

                                                    <div data-name=".mobi" class="checkbox-item ">
                                                        <span class="item-name">.mobi</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".mobi">
                                                    </div>

                                                    <div data-name=".gov.cn" class="checkbox-item ">
                                                        <span class="item-name">.gov.cn</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".gov.cn">
                                                    </div>

                                                    <div data-name=".com.cn" class="checkbox-item ">
                                                        <span class="item-name">.com.cn</span>
                                                        <input type="checkbox" class="hide" name="suffix" value=".com.cn">
                                                    </div>

                                                </div>
                                                <div class="operate-area">
                                                    <label data-op="1">
                                                        <input type="radio" name="op">
                                                        全选
                                                    </label>
                                                    <label data-op="2">
                                                        <input type="radio" name="op">
                                                        全不选
                                                    </label>
                                                    <label data-op="3" class="label-checked">
                                                        <input type="radio" name="op" checked="">
                                                        常用
                                                    </label>
                                                    <a href="javascript:;" class="set-common-use">设置常用后缀</a>
                                                    <span class="set-remind" style="display: none;">常用后缀已设置</span>
                                                    <a href="/domain/search" class="view-more">查看更多&gt;&gt;</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="domain-help">
                                        <a href="/manager/whois.asp">WHOIS查询</a>
                                        <a href="/manager/domainlist.asp" target="_blank">域名续费</a>
                                        <a href="/manager/priceinfo.asp" target="_blank">价格总览</a>
                                    </div>

                                </div>
                                <div class="z_banner_input">
                                    <div class="z_banner_text">输入完整的域名，选择后缀进行查询，如： idnscp.com</div>
                                </div>
                            </div>


                            <ul class="platform_advantage_bg_z">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>




            </div>
            <div class="blank30"></div>


        </div>
    </div>
</div>

<div id="vue-app" style="display: none; padding: 10px;" class="domain-manage">
    <div>
        <form class="form-inline">
            <div class="form-group" :class="errors.has('new_domain')?'has-error':''">
                <input v-model="new_domain" v-validate="'required'" type="text" class="form-control" name="new_domain" id="new_domain" :placeholder="errors.has('new_domain')?errors.first('new_domain'):'www.*****.com'">
            </div>
            <button @click="addDomain" type="button" class="btn btn-warning">添加域名</button>
        </form>
    </div>
    <div class="blank30"></div>
    <div>
        <table width="100%" class="table table-hover">
            <tr>
                <th width="80%">域名</th>
                <th>操作</th>
            </tr>
            <tr v-for="(item,index) in domainList">
                <td width="80%">{{item.name}}</td>
                <td><span @click="delDomain(index,item)" title="删除"><i class="glyphicon glyphicon-trash"></i></span></td>
            </tr>
        </table>
    </div>
    <div class="blank30"></div>
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label>PHP版本</label>
                <select v-model="phpversion" class="form-control">
                    <option v-for="option in options" :value="option.version">
                        {{ option.name }}
                    </option>
                </select>
            </div>
            <button @click="changePHPVersion" type="button" class="btn btn-danger">切换</button>
        </form>
    </div>
</div>

<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">续费</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="vid" id="vid" value="" />
                    <input type="hidden" name="conn" id="conn" value="" />
                    <h5>当前账户余额 : {getmenoy()}元</h5>
                    <h5>续费站点 : <span id="sitedomain"></span></h5>
                    <div class="form-group">
                        <label for="timelong">时长</label>
                        <select id="timelong" name="timelong" class="form-control">
                            <option value="1">1年</option>
                            <option value="2">2年</option>
                            <option value="3">3年</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_pay" type="button" class="btn btn-primary">续费</button>
            </div>
        </div>
    </div>
</div>


<div class="blank30"></div>
<script src="{$base_url}/common/js/layer/layer.js"></script>
<script flashpath="{$base_url}/common/js/hprose/" src="{$base_url}/common/js/hprose/hprose.js"></script>
<script src="{$base_url}/common/plugins/guestbook/vue.js"></script>
<script src="{$base_url}/common/plugins/guestbook/vee-validate.min.js"></script>
<script src="{$base_url}/common/plugins/guestbook/vee-validate-zh_CN.js"></script>
<script src="{$base_url}/common/js/shopping.js"></script>
<script src="{$base_url}/common/plugins/vhost/js/vhost.js"></script>
<script>
    Vue.use(VeeValidate, {
        events: 'blur',
        locale: 'zhCN',
        //errorBagName: 'errorBags', // change if property conflicts.
        //fieldsBagName: 'fieldBags',
        dictionary: {
            zhCN:__vee_validate_locale__zh_CN.js
        }
    });

    var dictionary = {
        zhCN: {
            messages:{
                required : (field) => field + '不能为空!'
            },
            attributes: {
                new_domain: '域名'
            }
        }
    };
    VeeValidate.Validator.localize(dictionary);


    var vue_app = new Vue({
        el: '#vue-app',
        data : {
            domainList : [],
            visible: false,
            siteid : '',
            sitename : '',
            conn : '',
            new_domain : '',
            phpversion : '',
            options : [],

        },
        mounted :function () {
            //this.getCateList();
        },
        methods : {
            getDomainList : function (siteid,sitename,conn) {
                this.errors.items.length = 0;
                this.siteid = siteid;
                this.sitename = sitename;
                this.conn = conn;
                _this = this;
                client.getDomain(siteid,conn,function(result) {
                    if(result)
                        _this.domainList = result;
                });
            },
            getPHPVersionList : function(siteid,sitename,conn){
                this.siteid = siteid;
                this.sitename = sitename;
                this.conn = conn;
                _this = this;
                client.getPHPVersionList(siteid,sitename,conn,function(result) {
                    if(result)
                        _this.options = result;
                });
                client.getSitePHPVersion(siteid,sitename,conn,function(result) {
                    _this.phpversion = result.phpversion;
                });
            },
            changePHPVersion:function () {
                client.setPHPVersion(this.sitename,this.phpversion,conn,function(result) {
                    alert(result.msg);
                });
            },
            addDomain : function () {
                let _this = this;
                this.$validator.validate().then(result => {
                    if (result) {
                        client.addDomain(this.siteid,this.sitename,this.new_domain,this.conn,function(result) {
                            if(result.status == true) {
                                _this.getDomainList(_this.siteid, _this.sitename, _this.conn);
                            }
                            alert(result.msg);
                        });
                    }
                });
            },
            delDomain : function (index,row) {
                console.log(index);
                console.log(row);
                let _this = this;
                if(row.pid && confirm('确定要删除吗?')) {
                    client.delDomain(row.pid,this.sitename,row.name,this.conn,function(result) {
                        //alert(result);
                        if(result.status == true){
                            alert(result.msg);
                            _this.getDomainList(_this.siteid,_this.sitename,_this.conn);
                        }else{
                            alert(result.msg);
                        }
                    });
                }

            },

        }
    })
</script>

<script>
    $(function () {
        $('[data-target=\'#payModal\']').click(function () {
            $('#sitedomain').html($(this).data('sitedomain'));
            $('#vid').val($(this).data('siteid'));
            $('#conn').val($(this).data('conn'));
            //console.log($(this).data('aid'));
            var def = client.getYear($(this).data('aid'),$(this).data('conn'));
            def = def.then(function (res) {
                $('#timelong').empty();
                for(i in res){
                    $('#timelong').append('<option value="'+i+'">'+res[i]+'</option>');
                }
            },function (err) {
                alert(err);
            });
        });
        $('#btn_pay').click(function () {
            siteid = $('#vid').val();
            conn = $('#conn').val();
            timelong = $('#timelong').val();
            if(!siteid){
                alert('参数错误!');
                return;
            }
            var def = client.Renew(siteid,timelong,conn);
            def = def.then(function (res) {
                //console.log(res);
                //return;
                if(res.CODE != 'ok'){
                    throw res;
                }else{
                    window.location.reload();
                }
            },function (err) {
                alert(err);
            });
        });
    });
</script>

{template_user 'foot.html'}