{template 'header.html'}<div class="clearfix view-html">
	<div class="container-fluid clearfix" style="z-index: 3;">
		<div class="row column">
			<div class="tag">
				{tag_sections_common_picture_2}
			</div>
			<div class="clearfix">
			</div>
			<div class="container clearfix" style="z-index: 7;">
				<div class="column">
					<div class="tag">
						{tag_sections_common_notifications_40}
					</div>
					<div class="clearfix">
					</div>
				</div>
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="container clearfix" style="z-index: 7; background-image: url('');">
		<div class="column">
			<div class="tag">
				{tag_sections_announ_announ-title_2}
			</div>
			<div class="clearfix">
			</div>
			<div class="row text-center" style="z-index: 3; background-image: url('');">
				<div class="col-md-12" style="z-index: 7;">
					<div class="column">
						<div class="tag inline-block">
							{tag_sections_announ_announ-adddate_2}
						</div>
						<div class="clearfix">
						</div>
					</div>
				</div>
				<div class="clearfix">
				</div>
			</div>
			<div class="clearfix text-center" style="background-image: url('');">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="column">
						<div class="tag">
							{tag_sections_announ_announ-content_2}
						</div>
						<div class="clearfix">
						</div>
					</div>
				</div>
				<div class="clearfix">
				</div>
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="clearfix" style="background-image: url('');">
	</div>
</div>{template 'footer.html'}