{template_user 'head.html'}

<!-- 上传组件 -->
<script src="{$base_url}/common/plugins/fileinput/js/fileinput.js" type="text/javascript"></script>
<script src="{$base_url}/common/plugins/fileinput/js/locales/zh.js" type="text/javascript"></script>
<link href="{$base_url}/common/plugins/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css">


<div class="index-bg">
	<div class="container">
        <div class="section2">



                <div class="user-content-table-nav">
                    <ul>
                        <li><a href="{url('user/edit/table/user')}" class="active">{lang('edituserinfo')}</a></li>
                        <li><a href="{url('user/changepassword')}">{lang('changepassword')}</a></li>
                    </ul>
                </div>

<div class="clearfix blank30"></div>
                <?php
if(hasflash()){
	$showmessage = showflash();
	if(strlen($showmessage)>200){ 
?>
<div id='message'><span style="color:red;float:left"><?php echo $showmessage; ?></span>
<span style="color:blue;float:right"><a href="#" onClick="javascript:turnoff('#message');">(×)</a></span></div><div class="blank20"></div>
<?php
    }else{
?>
<script type="text/javascript">
art.dialog({
		id:"messagebox",
		content:"<?php echo $showmessage; ?>",
		title:"{lang('prompted')}",
		time: 2,
		lock:true
	});
</script>
<?php
    }
}
?>

<form method="post" name="form1" enctype="multipart/form-data" action="<?php echo modify("/act/edit/userid/".$data['userid']);?>"  onsubmit="return checkform();">
<div class="form-group">
    <label>{lang('username')}</label>
    <input type="text" name="username" id="username" value="{$data['username']}" class="form-control">
  </div>


<!--<div class="form-group">
    <a href="javascript:void(0)"  onclick="$('#headimage').click();"><img  id="headimagehref" src="<?php if($data['headimage']==''){ echo '/images/pic.png';}else{ echo $data['headimage'] ;} ?>" height="100px"></a>

    <input  type="file" name="headimage" id="headimage" style="display: none" onchange="PreviewImage(this,'imgHeadPhoto','divPreview');if($('#headimage').val()!=''){$('#imgtext').val('1');$('#submit').click();}" size="20" />
    <input  type="hidden" name="imgtext" id="imgtext" value="0"/>
    <p>点击上传头像，图片大小100kb以内！</p>
</div>-->
<div class="form-group">
    <label>{lang('head_portrait')}</label><br/>
        {form::upload_image('headimage',$data['headimage'])}
</div>

<div class="form-group">
    <label>{lang('nickname')}</label>
    {form::getform('nickname',$form,$field,$data)}
  </div>





<div class="form-group">
    <label>{lang('question')}</label>
    {form::getform('question',$form,$field,$data)}
  </div>





<div class="form-group">
    <label>{lang('answer')}</label>
    {form::getform('answer',$form,$field,$data)}
  </div>


<div class="form-group">
    <label>{lang('qq')}</label>
    {form::getform('qq',$form,$field,$data)}
  </div>






<div class="form-group">
    <label>{lang('e_mail')}</label>
    {form::getform('e_mail',$form,$field,$data)}
  </div>


<div class="form-group">
    <label>{lang('tel')}</label>
    {form::getform('tel',$form,$field,$data)}
  </div>

<div class="blank10"></div>        





<div class="form-group">
    <label>{lang('address')}</label>
    {form::getform('address',$form,$field,$data)}
  </div>



<div class="form-group">
    <label>{lang('intro')}</label>
    {form::getform('intro',$form,$field,$data)}
  </div>

    <script type="text/javascript" src="{$base_url}/common/js/ajaxfileupload/ajaxfileupload.js"></script>
    <script type="text/javascript" src="{$base_url}/common/js/ajaxfileupload/ThumbAjaxFileUpload.js"></script>
	 <link rel="stylesheet" href="{$base_url}/common/js/jquery/ui/css/ui.datepicker.css" type="text/css" media="screen" title="core css file" charset="utf-8" />
	<script language="javascript" src="{$base_url}/common/js/jquery/ui/js/ui.datepicker.js"></script>
    <script type="text/javascript" src="{$base_url}/common/js/upimg/dialog.js"></script>
<link href="{$base_url}/images/admin/dialog.css" rel="stylesheet" type="text/css" />
<!--用户自定义字段-->
            <?php $newcname='cname_'.lang::getistemplate(); ?>
            {loop $field $f}
            <?php
 $name=$f['name'];
 if(!preg_match('/^my_/',$name)) {
 unset($field[$name]);
 continue;
}
if(!setting::$var['user'][$name]['showinreg']) {
  continue;
 }

 ?>
<div class="form-group">
    <label><?php echo setting::$var['user'][$name][$newcname]; ?></label>

    <?php echo form::getform($name,setting::$var['user'],$field,array()); ?>

 {/loop}
            

<div class="blank30"></div>
        
<input type="submit" name="submit" id="submit" value="{lang('submit_on')}" class="btn btn-primary" />


</form>

  </div>
</div>
</div>


<style type="text/css">
.btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 10px 50px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

</style>
  <script type="text/javascript">
     $("[name='headimage']").change(function(){
         $(this).siblings('img').attr('src',URL.createObjectURL($(this)[0].files[0]));
     });
    //js本地图片预览，兼容ie[6-9]、火狐、Chrome17+、Opera11+、Maxthon3
    function PreviewImage(fileObj, imgPreviewId, divPreviewId) {
        var allowExtention = ".jpg,.bmp,.gif,.png"; //允许上传文件的后缀名document.getElementById("hfAllowPicSuffix").value;
        var extention = fileObj.value.substring(fileObj.value.lastIndexOf(".") + 1).toLowerCase();
        var browserVersion = window.navigator.userAgent.toUpperCase();
        if (allowExtention.indexOf(extention) > -1) {
        if (fileObj.files) {//HTML5实现预览，兼容chrome、火狐7+等
        if (window.FileReader) {
        var reader = new FileReader();
        reader.onload = function (e) {
        document.getElementById(imgPreviewId).setAttribute("src", e.target.result);
        }
        reader.readAsDataURL(fileObj.files[0]);
        } else if (browserVersion.indexOf("SAFARI") > -1) {
        alert("不支持Safari6.0以下浏览器的图片预览!");
        }
        } else if (browserVersion.indexOf("MSIE") > -1) {
        if (browserVersion.indexOf("MSIE 6") > -1) {//ie6
        document.getElementById(imgPreviewId).setAttribute("src", fileObj.value);
        } else {//ie[7-9]
        fileObj.select();
        if (browserVersion.indexOf("MSIE 9") > -1)
        fileObj.blur(); //不加上document.selection.createRange().text在ie9会拒绝访问
        var newPreview = document.getElementById(divPreviewId + "New");
        if (newPreview == null) {
        newPreview = document.createElement("div");
        newPreview.setAttribute("id", divPreviewId + "New");
        newPreview.style.width = document.getElementById(imgPreviewId).width + "px";
        newPreview.style.height = document.getElementById(imgPreviewId).height + "px";
        newPreview.style.border = "solid 1px #d2e2e2";
        }
        newPreview.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='" + document.selection.createRange().text + "')";
        var tempDivPreview = document.getElementById(divPreviewId);
        tempDivPreview.parentNode.insertBefore(newPreview, tempDivPreview);
        tempDivPreview.style.display = "none";
        }
        } else if (browserVersion.indexOf("FIREFOX") > -1) {//firefox
        var firefoxVersion = parseFloat(browserVersion.toLowerCase().match(/firefox\/([\d.]+)/)[1]);
        if (firefoxVersion < 7) {//firefox7以下版本
        document.getElementById(imgPreviewId).setAttribute("src", fileObj.files[0].getAsDataURL());
        } else {//firefox7.0+
        document.getElementById(imgPreviewId).setAttribute("src", window.URL.createObjectURL(fileObj.files[0]));
        }
        } else {
        document.getElementById(imgPreviewId).setAttribute("src", fileObj.value);
        }
        } else {
        alert("{lang('support_only')}" + allowExtention + "{lang('files_with_suffix_names')}");
        fileObj.value = ""; //清空选中文件
        if (browserVersion.indexOf("MSIE") > -1) {
        fileObj.select();
        document.selection.clear();
        }
        fileObj.outerHTML = fileObj.outerHTML;
        }

    return fileObj.value;    //返回路径
    }

</script>

{template_user 'foot.html'}