{template_user 'head.html'}
<style type="text/css">
    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {position: relative;}
    .btn,button.btn {box-shadow:none;margin:0px 15px;padding:0px 15px;border:1px solid #eee;height: 34px;line-height:34px;}
    .form-horizontal .control-label {padding-top:0px;}
    .text-left {line-height:32px;}
</style>

<div id="vue-app" class="main-right-box">

    <div class="blank20"></div>
    <div class="box">
        {template 'vhost/vhost_nav.html'}



        <div class="user-content">
            <div class="blank30"></div>

            产品
                <div class="clearfix blank20"></div>


            </div>
            <div class="blank30"></div>
        </div>
    </div>
</div>





<div class="blank30"></div>



{template_user 'foot.html'}