<div class="clearfix view-html">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
					 <span class="sr-only">
						 {get('sitename')}
					 </span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand text-center">
					 <a href="{$base_url}/" title="{get('sitename')}"><img src="{get('site_logo')}" class="img-responsive cmseasyeditimg" alt="{get('sitename')}" /></a>
				</div>
			</div> {nav(1)}
		</div>
	</nav>
</div>