

.scroll-pic-list-index-title-:after{content:"";display:table;clear:both;}
.scroll-pic-list-index-title-ul { text-align: center;}
.scroll-pic-list-index-title-ul li{display: inline-block;margin-left: 2px;}
.scroll-pic-list-index-title-ul li a{display: inline-block;line-height: 30px;padding: 0 15px;border-width:1px; border-style:solid ;}

