{template_user 'head.html'}

<div class="index-bg">
	<div class="container">
		<div class="section2">

		<div class="index-title">
				<h4>{lang('submission_form')}</h4>	
			</div>


<div class="user-content">


<form name="listform" id="listform"  action="<?php echo uri();?>" method="post">



<div class="table-responsive">
<form name="listform" id="listform"  action="<?php echo uri();?>" method="post">
<table class="table table-hover">
<thead>
<tr class="th">
<th class="catname">{lang('title')}</th>
<th class="htmldir">{lang('adddate')}</th>
<th class="manage">{lang('dosomething')}</th>
</tr>
</thead>
<tbody>
{loop $tables $t $table}
{loop $table $data}
<tr>
 <td class="catname" align="left">{=@setting::$var[$t]['myform']['cname']}</td>
<td class="htmldir" align="center">{$data['adddate']}</td>
<td class="manage" align="center"><a  href="{url('form/show/form/'.$t.'/id/'.$data['fid'],false)}" target="_blank" title="查看"><i class="glyphicon glyphicon-eye-open"></i></a></td>
</tr>
{/loop}
{/loop}
</tbody>
</table>
</form>
</div>
<div class="blank30"></div>
	<div class="pages">
		<?php if(get('table')!='type' && front::get('case')!='field') echo pagination::html($record_count); ?>
	</div>
<div class="blank30"></div>

</div>
</div>
</div>
</div>
<div class="blank30"></div>
{template_user 'foot.html'}