{template_user 'head.html'}

<div class="index-bg">
	<div class="container">
		<div class="section2">

		<div class="index-title">
				<h4>{lang('my-submission_form')}</h4>	
			</div>


<div class="user-content">


<form name="listform" id="listform"  action="<?php echo uri();?>" method="post">




<div class="table-responsive">
<table class="table table-striped table-hover">
<thead>
<tr class="th">
                <th align="center" >{lang('title')}</th>
                <th align="center">{lang('content')}</th>
            </tr>
            </thead>
        <tbody>
{user_cb_data($data,$table)}
            {loop $field $f}
                <?php
				$type = setting::$var[front::$get['form']][$f['name']]['filetype'];
                $name=$f['name'];
				$aid = $data['aid'];
                if(!preg_match('/^my_/',$name)) continue;

                if(!isset($data[$name])) $data[$name]='';
                ?>

            <tr>
                <td align="center">{$name|lang}</td>
                <td align="left">{if $type=='file'}<a href="{$data[$name]}" target="_blank">{lang('download_attachments')}</a>{elseif $type=='image'}<img src='{$data[$name]}' width="200"> {else}{$data[$name]}{/if}</td>

            </tr>

            {/loop}
        


        </tbody>
		</table>

<div class="blank30"></div>

</div>
</div>
</div>
</div>
<div class="blank30"></div>
{template_user 'foot.html'}