
.foot-ul-4{margin: 0px 15px; border-width:1px; border-style:solid;}
.foot-ul-4 .foot-tel,.foot-ul-4 .foot-email{text-align: left;margin: 20px 0;}
.foot-ul-4 .foot-tel h4,.foot-ul-4 .foot-email h4{margin-bottom: 15px;color: #333;font-size: 16px;}
.foot-ul-4 .foot-tel h4 a,.foot-ul-4 .foot-email h4 a{color: #333;}
.foot-ul-4 .foot-tel p,.foot-ul-4 .foot-email p{margin-bottom: 15px;color: #999;font-size: 18px;}









