

.scroll-content-list-title ul.scroll-content-list-title-ul{  text-align: center;}
.scroll-content-list-title ul.scroll-content-list-title-ul li {display: inline-block; margin-left: 2px;}
.scroll-content-list-title ul.scroll-content-list-title-ul li a{display: inline-block;line-height: 30px;padding: 0 15px;border-width:1px; border-style:solid ;}

