


.type-pagination {

}
.type-pagination .pagination li a {
    display: inline-block;
    height:38px;
    border-width: 1px;
    border-style:solid ;
    text-decoration: none;
    margin: 0px 5px 10px 0;
    padding: 7px 14px;
    border-radius: 0px;
}
.type-pagination .pagination li.active a {
    border-radius: 0px;
}
.type-pagination .pagination > li:last-child > a,
.type-pagination .pagination > li:last-child > span
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.type-pagination #getto_page {
    float:left;
    width:38px;
    height:38px;
    line-height:38px;
    border-width: 1px;
    border-style:solid ;
    border-radius:0px;
    text-align:center;
    font-weight:600;
    cursor: auto;
}
.type-pagination  .pagination .btn-primary {
    float:left;
    height:38px;
    line-height:26px;
    padding:6px 12px;
    border-width: 1px;
    border-style:solid ;
    border-radius:0px;
}