<div class="lyrow container-fluid-box position-move clearfix ui-draggable" style="">
    <span class="drag label btn-group container-box-menu">
     <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="">{langadmin_layout}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--层设置-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                <span class="">{langadmin_layer_attributes}</span>
            </a>
        </li>
        <!--上移按钮-->
        <li>
            <a class="div-up">
                <i class="glyphicon glyphicon-arrow-up"></i>
                <span class="">{langadmin_move_up}</span>
            </a>
        </li>
        <!--下移按钮-->
        <li>
            <a class="div-down">
                <i class="glyphicon glyphicon-arrow-down"></i>
                <span class="">{langadmin_move_down}</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">{langadmin_delete}</span>
            </a>
        </li>
    </ul>
</span>
    <div class="preview">
        <img src="/template_admin/admin/visual/layouts/common/1_3_nav.png">
        <p class="">{langadmin_container_nav}</p>
    </div>
    <div class="view">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <div class="codearea">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">#[#get('sitename')#]#</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="viewarea">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">{get('sitename')}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-brand">
                        <div class="codearea">
                            <a href="#[#$base_url#]#/" title="#[#get('sitename')#]#">
                                <img src="#[#get('site_logo')#]#" class="img-responsive cmseasyeditimg" cmseasy-id="site_logo" cmseasy-table="config" cmseasy-field="config" alt="#[#get('sitename')#]#">
                            </a>
                        </div>
                        <div class="viewarea">
                            <a href="{$base_url}/" title="{get('sitename')}">
                                <img src="{get('site_logo')}" class="img-responsive cmseasyeditimg" cmseasy-id="site_logo" cmseasy-table="config" cmseasy-field="config" alt="{get('sitename')}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav navbar-nav navbar-right" rel="nav(1)">
                    <div id="navbar" class="nav navbar-nav navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li class="oen active">
            <a href="/">
                <span class=" cmseasyedit" cmseasy-id="homepage" cmseasy-table="lang" cmseasy-field="template">
                网站首页                    </span>
            </a>
        </li>
                <li class="oen">
            <a href="/index.php?case=archive&act=list&catid=1">
            <span cmseasy-id="1" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">
                关于我们            </span>
            </a>

            
        </li>
                <li class="oen dropdown">
            <a href="/index.php?case=archive&act=list&catid=11" class="toogle">
            <span cmseasy-id="11" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">
                精选产品            </span>
            <span class="caret"></span></a>

                            <ul class="two dropdown-menu">
                                        <li>
                    <a title="智能产品" href="/index.php?case=archive&act=list&catid=12" cmseasy-id="12" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">智能产品</a>
                                        </li>

                                        <li>
                    <a title="家电产品" href="/index.php?case=archive&act=list&catid=13" cmseasy-id="13" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">家电产品</a>
                                        </li>

                                        <li>
                    <a title="智能穿戴" href="/index.php?case=archive&act=list&catid=14" cmseasy-id="14" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">智能穿戴</a>
                                        </li>

                                        <li>
                    <a title="健康儿童" href="/index.php?case=archive&act=list&catid=15" cmseasy-id="15" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">健康儿童</a>
                                        </li>

                                    </ul>
            
        </li>
                <li class="oen dropdown">
            <a href="/index.php?case=archive&act=list&catid=21" class="toogle">
            <span cmseasy-id="21" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">
                新闻资讯            </span>
            <span class="caret"></span></a>

                            <ul class="two dropdown-menu">
                                        <li>
                    <a title="企业新闻" href="/index.php?case=archive&act=list&catid=22" cmseasy-id="22" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">企业新闻</a>
                                        </li>

                                        <li>
                    <a title="行业新闻" href="/index.php?case=archive&act=list&catid=23" cmseasy-id="23" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">行业新闻</a>
                                        </li>

                                    </ul>
            
        </li>
                <li class="oen dropdown">
            <a href="/index.php?case=archive&act=list&catid=27" class="toogle">
            <span cmseasy-id="27" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">
                人力资源            </span>
            <span class="caret"></span></a>

                            <ul class="two dropdown-menu">
                                        <li>
                    <a title="员工发展" href="/index.php?case=archive&act=list&catid=28" cmseasy-id="28" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">员工发展</a>
                                        </li>

                                        <li>
                    <a title="就业机会" href="/index.php?case=archive&act=list&catid=29" cmseasy-id="29" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">就业机会</a>
                                        </li>

                                        <li>
                    <a title="风尚人物" href="/index.php?case=archive&act=list&catid=30" cmseasy-id="30" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">风尚人物</a>
                                        </li>

                                    </ul>
            
        </li>
                <li class="oen">
            <a href="/index.php?case=archive&act=list&catid=10">
            <span cmseasy-id="10" cmseasy-table="category" cmseasy-field="catname" class="cmseasyedit">
                联系我们            </span>
            </a>

            
        </li>
                
        <li id="fat-menu" class="dropdown">
            <a data-toggle="modal" data-target="#myModalLang"><img src="/cn/upload/images/201908/15631496836234.gif" width="20"> 中文                <span class="caret"></span>
            </a>
        </li>
                        <li id="login" class="head-loginoen dropdown"></li>
               
    </ul>
</div>                </div>
                </div>
            </nav></div>
        
    </div>

















<div name="copyui"></div>