



.job-columns-pic{}
.job-columns-pic-item{position: relative;margin: 15px 0;}
.job-columns-pic-item img{width: 100%;height: 100%;object-fit: cover;}
.job-columns-pic-item-bg{position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,.32);z-index: 2;}
.job-columns-pic-text{position: absolute !important;z-index: 3;left: 0;bottom: 0;padding: 40px;}

.job-columns-pic-text a.more{display: block;border-width: 2px; border-style: solid ;height: 36px;width: 36px;text-align: center;line-height: 36px;margin-top: 15px;}

.job-columns-pic-item2{height: 438px;}
@media screen and (min-width: 992px) and (max-width: 1199px){

    .job-columns-pic-item2{height: 330px;}
    .job-columns-pic-text h4{font-size: 32px;}
    .job-columns-pic-text a.more{height: 32px;width: 32px;line-height: 32px;font-size: 16px;}
}
@media screen and (min-width: 768px) and (max-width: 991px){

    .job-columns-pic-item2{height: 250px;}
    .job-columns-pic-text h4{font-size: 28px;}
    .job-columns-pic-text a.more{height: 28px;width: 28px;line-height: 28px;font-size: 12px;}
}
@media screen and (min-width: 0) and (max-width: 767px){

    .job-columns-pic-item2{height: auto;}
    .job-columns-pic-text{padding: 15px;}
    .job-columns-pic-text h4{font-size: 24px;display: inline-block;margin-right: 10px;}
    .job-columns-pic-text a.more{display: inline-block;height: 24px;width: 24px;line-height: 24px;font-size: 12px;}
}
