<div class="lyrow position-move container-fluid-box clearfix ui-draggable" style="">
    <span class="drag label btn-group container-box-menu">
     <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="">布局</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--层设置-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--上移按钮-->
        <li>
            <a class="div-up">
                <i class="glyphicon glyphicon-arrow-up"></i>
                <span class="">上移</span>
            </a>
        </li>
        <!--下移按钮-->
        <li>
            <a class="div-down">
                <i class="glyphicon glyphicon-arrow-down"></i>
                <span class="">下移</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">删除</span>
            </a>
        </li>
    </ul>
</span>
    <div class="preview">
        <img src="/template_admin/admin/visual/layouts/common/1_1_container-fluid.png">
        <p class="">全屏</p>
    </div>
    <div class="view">
        <div class="container-fluid clearfix">
            <div class="row column ui-sortable">
            




<div class="lyrow element-box position-move clearfix ui-draggable" style="">
    <!--层按钮-->
    <span class="drag label btn-group drag-container">
    <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--组件层属性-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-tasks"></i>
                 <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--设置按钮-->
        <li>
            <a data-target="#template-commoncss-tag" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                  <span>{langadmin_set_up}</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">删除</span>
            </a>
        </li>
    </ul>
 </span>
    <div class="preview">
        <img src="/template_admin/admin/visual/sections/category/category-first-degree-banner/category-first-degree-banner.png" alt="顶级栏目banner">
        <p class="">顶级栏目</p>
        <p>Banner</p>
    </div>
    <div class="view">


                            <div class="tag"><span class="removeClean tagname">#[#tag_sections_category_category-first-degree-banner_3#]#</span>{tag_sections_category_category-first-degree-banner_3}</div>

        <div class="clearfix"></div>
    </div>
</div></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div name="copyui"></div>
<div class="lyrow container-box position-move clearfix ui-draggable" style="z-index: 1;">
    <span class="drag label btn-group container-box-menu">
     <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="">布局</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--层设置-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--上移按钮-->
        <li>
            <a class="div-up">
                <i class="glyphicon glyphicon-arrow-up"></i>
                <span class="">上移</span>
            </a>
        </li>
        <!--下移按钮-->
        <li>
            <a class="div-down">
                <i class="glyphicon glyphicon-arrow-down"></i>
                <span class="">下移</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">删除</span>
            </a>
        </li>
    </ul>
</span>
    <div class="preview">
        <img src="/template_admin/admin/visual/layouts/common/1_2_container.png">
        <p class="">宽屏</p>
    </div>
    <div class="view">
        <div class="container clearfix" style="margin-top: 15px; margin-bottom: 15px;">
            <div class="row column ui-sortable">
            

<div class="lyrow element-box position-move clearfix ui-draggable" style="">
    <!--层按钮-->
    <span class="drag label btn-group drag-container">
    <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--组件层属性-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-tasks"></i>
                 <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--设置按钮-->
        <li>
            <a data-target="#template-commoncss-tag" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                  <span>{langadmin_set_up}</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">删除</span>
            </a>
        </li>
    </ul>
 </span>
    <div class="preview">
        <img src="/template_admin/admin/visual/sections/common/notifications/notifications.png" alt="路径导航">
        <p>
            路径导航        </p>
    </div>
    <div class="view">
        <div class="tag"><span class="removeClean tagname">#[#tag_sections_common_notifications_2#]#</span>{tag_sections_common_notifications_2}</div>
        <div class="clearfix"></div>
    </div>
</div></div>
        </div>
        <div class="clearfix" style="margin-top: 15px; margin-bottom: 15px;"></div>
    </div>
</div>
<div class="lyrow container-box position-move clearfix ui-draggable" style="z-index: 5;">
    <span class="drag label btn-group container-box-menu">
     <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="">布局</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--层设置-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--上移按钮-->
        <li>
            <a class="div-up">
                <i class="glyphicon glyphicon-arrow-up"></i>
                <span class="">上移</span>
            </a>
        </li>
        <!--下移按钮-->
        <li>
            <a class="div-down">
                <i class="glyphicon glyphicon-arrow-down"></i>
                <span class="">下移</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">删除</span>
            </a>
        </li>
    </ul>
</span>
    <div class="preview">
        <img src="/template_admin/admin/visual/layouts/common/1_2_container.png">
        <p class="">宽屏</p>
    </div>
    <div class="view" style="z-index: 6;">
        <div class="container clearfix" style="z-index: 7;">
            <div class="row column ui-sortable">








                

















<div class="lyrow grid-box position-move clearfix ui-draggable" style="z-index: 1;">
    <span class="drag label btn-group container-box-menu container-box-menu-tipcss">
     <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <span class="">布局</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--层设置-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--上移按钮-->
        <li>
            <a class="div-up">
                <i class="glyphicon glyphicon-arrow-up"></i>
                <span class="">上移</span>
            </a>
        </li>
        <!--下移按钮-->
        <li>
            <a class="div-down">
                <i class="glyphicon glyphicon-arrow-down"></i>
                <span class="">下移</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">删除</span>
            </a>
        </li>
    </ul>
</span>
                    <div class="preview">
                        <img src="/template_admin/admin/visual/layouts/columns/9-3.png">
                        <p>9 3</p>
                    </div>
                    <div class="view">
                        <div class="col-md-9">
                            <div class="column ui-sortable">
                            

































<div class="lyrow element-box position-move clearfix ui-draggable" style="">
    <!--层按钮-->
    <span class="drag label btn-group drag-container">
    <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="">列表</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--组件层属性-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-tasks"></i>
                <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--设置按钮-->
        <li>
            <a data-target="#template-commoncss-tag" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                <span>{langadmin_set_up}</span>
            </a>
        </li>
        <!--列表样式-->
        <li>
            <a data-target="#template-list-tag" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span class="">样式</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                 <span class="">删除</span>
            </a>
        </li>
    </ul>
 </span>

    <div class="preview">
        <img src="/template_admin/admin/visual/sections/category/category-list/category-list.png">
        <p class="">列表</p>
    </div>
    <div class="view">
        <div class="tag"><span class="removeClean tagname">#[#tag_sections_category_category-list_1#]#</span>{tag_sections_category_category-list_1}</div>
        <div class="clearfix"></div>
    </div>
</div>










<div class="lyrow element-box position-move clearfix ui-draggable" style="">
    <!--层按钮-->
    <span class="drag label btn-group drag-container">
    <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--组件层属性-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-tasks"></i>
                 <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--设置按钮-->
        <li>
            <a data-target="#template-commoncss-tag" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                  <span>{langadmin_set_up}</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">删除</span>
            </a>
        </li>
    </ul>
 </span>
    <div class="preview">
        <img src="/template_admin/admin/visual/sections/category/category-pagination/category-pagination.png" alt="栏目分页">
        <p class="">栏目分页</p>
    </div>
    <div class="view">
        <div class="tag"><span class="removeClean tagname">#[#tag_sections_category_category-pagination_2#]#</span>{tag_sections_category_category-pagination_2}</div>
        <div class="clearfix"></div>
    </div>
</div>


























</div>
                        </div>
                        <div class="col-md-3">
                            <div class="column ui-sortable">
                            
















<div class="lyrow element-box ui-draggable" style="">
    <!--层按钮-->
    <span class="drag label btn-group drag-container">
    <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--组件层属性-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-tasks"></i>
                 <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--设置按钮-->
        <li>
            <a data-target="#template-commoncss-tag" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                  <span>{langadmin_set_up}</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">删除</span>
            </a>
        </li>
    </ul>
 </span>
    <div class="preview">
        <img src="/template_admin/admin/visual/sections/common/search/search.png" alt="搜索">
        <p class="">搜索</p>
    </div>
    <div class="view">
        <div class="tag" style="margin-top:15px; margin-bottom:15px;"><span class="removeClean tagname">#[#tag_sections_common_search_2#]#</span>{tag_sections_common_search_2}</div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>





<div class="lyrow element-box ui-draggable" style="">
    <!--层按钮-->
    <span class="drag label btn-group drag-container">
    <a type="button" class="btn btn-black tooltipcss tooltipcss-right">
        <i class="icon-grid"></i>
        <span class="tooltiptext">{langadmin_left_mouse_button_and_drag}</span>
    </a>
    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu btn-black-dropdown-menu">
        <!--组件层属性-->
        <li>
            <a data-target="#div-config" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-tasks"></i>
                 <span>{langadmin_layout}</span>
            </a>
        </li>
        <!--设置按钮-->
        <li>
            <a data-target="#template-commoncss-tag" role="button" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
                  <span>{langadmin_set_up}</span>
            </a>
        </li>
        <!--删除按钮-->
        <li>
            <a class="remove">
                <i class="glyphicon glyphicon-remove"></i>
                <span class="">删除</span>
            </a>
        </li>
    </ul>
 </span>
    <div class="preview">
        <img src="/template_admin/admin/visual/sections/category/content-list/content-list.png" alt="内容列表">
        <p>内容列表</p>
    </div>
    <div class="view">
        <div class="tag" style="margin-top:15px; margin-bottom:15px;"><span class="removeClean tagname">#[#tag_sections_category_content-list_2#]#</span>{tag_sections_category_content-list_2}</div>
        <div class="clearfix"></div>
    </div>
</div></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

</div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>