

.visual-search .form-control {height:38px;line-height:38px;}
.visual-search .input-group .input-group-btn .btn-default {width:38px; height:38px;line-height:38px; padding: 0px 12px; border-width:1px; border-style:solid;}
.visual-search .btn-default { border-width:1px; border-style:solid; }



