{template 'header.html'}<div class="clearfix view-html">
	<div class="container-fluid clearfix">
		<div class="row column">
			<div class="tag">
				{tag_sections_category_category-first-degree-banner_2}
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="about-one clearfix" style="padding-top: 0px; ">
		<div class="container">
			<div class="row">
				<div class="view">
					<div class="col-md-6">
						<div class="column">
							<div class="tag">
								{tag_modules_category_common_about-one_1}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="column">
							<div class="clearfix">
							</div>
							<div class="tag">
								{tag_modules_category_common_about-one_2}
							</div>
						</div>
					</div>
					<div class="clearfix">
					</div>
				</div>
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="container-fluid about-two clearfix">
		<div class="row about-two-row column">
			<div class="col-md-6 col-xs-12">
				<div class="row column">
					<div class="tag">
						{tag_modules_category_common_about-two_2}
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="row column">
					<div class="tag">
						{tag_modules_category_common_about-two_1}
					</div>
				</div>
			</div>
			<div class="clearfix">
			</div>
		</div>
		<div class="clearfix">
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="about-three clearfix" style="padding-top: 30px; padding-bottom: 60px; background-color: rgb(249, 245, 241); z-index: 2;">
		<div class="container">
			<div class="row">
				<div class="view">
					<div class="column">
						<div class="tag">
							{tag_modules_category_common_about-three_1}
						</div>
						<div class="tag" style="margin-top: 0px;">
							{tag_modules_content_common_about-three_2}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="container-fluid three-content-pic clearfix" style="padding-top: 40px; padding-bottom: 40px;">
		<div class="column">
			<div class="container">
				<div class="row column">
					<div class="view">
						<div class="row column">
							<div class="view" style="position: relative; opacity: 1; z-index: 8; left: 0px; top: 0px;">
								<div class="clearfix">
								</div>
								<div class="clearfix">
								</div>
								<div class="tag">
									{tag_modules_category_common_three-content-pic_1}
								</div>
								<div class="tag">
									{tag_modules_category_common_three-content-pic_2}
								</div>
								<div class="tag">
									{tag_modules_content_common_three-content-pic_3}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="two-columns-btn two-columns-btn clearfix" style="padding-top: 30px; padding-bottom: 30px;">
		<div class="column">
			<div class="container">
				<div class="row column">
					<div class="view">
						<div class="row column">
							<div class="col-md-6">
								<div class="row column">
									<div class="view">
										<div class="clearfix">
										</div>
										<div class="tag">
											{tag_modules_category_common_two-columns-btn_1}
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row column">
									<div class="view">
										<div class="clearfix">
										</div>
										<div class="tag">
											{tag_modules_category_common_two-columns-btn_2}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
</div>{template 'footer.html'}