{template 'header.html'}<div class="clearfix view-html">
	<div class="container-fluid clearfix" style="z-index: 7;">
		<div class="row column">
			<div class="tag">
				{tag_sections_category_category-first-degree-banner_15}
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
	<div class="container clearfix" style="margin-top: 15px; margin-bottom: 0px; z-index: 7; background-image: url('');">
		<div class="row column">
			<div class="tag">
				{tag_sections_common_notifications_39}
			</div>
		</div>
	</div>
	<div class="clearfix" style="margin-top: 15px; margin-bottom: 0px; background-image: url('');">
	</div>
	<div class="job-columns-pic clearfix" style="padding-top: 0px; padding-bottom: 0px;">
		<div class="container" style="background-image: url('');">
			<div class="column">
				<div class="view">
					<div class="row">
						<div class="col-sm-8">
							<div class="column">
								<div class="tag">
									{tag_modules_category_common_job-columns-pic_1}
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="column">
								<div class="tag">
									{tag_modules_category_common_job-columns-pic_2}
								</div>
							</div>
						</div>
						<div class="clearfix">
						</div>
						<div class="col-sm-12">
							<div class="column position-revert">
								<div class="tag">
									{tag_modules_category_common_job-columns-pic_3}
								</div>
							</div>
						</div>
						<div class="clearfix">
						</div>
					</div>
					<div class="clearfix">
					</div>
				</div>
			</div>
			<div class="clearfix">
			</div>
		</div>
	</div>
	<div class="clearfix">
	</div>
</div>{template 'footer.html'}