
.special-title {position: relative;padding: 30px 0;}
.special-title ul.special-title-ul li {display: inline-block;margin-right: 15px;}
.special-title ul.special-title-ul li a {display: inline-block;border-width:1px; border-style:solid;line-height: 36px;padding: 0 30px;border-radius: 2px;margin-top: 10px;}
.special-title ul.special-title-ul li span {margin:0px;}

@media screen and (min-width: 768px) and (max-width: 991px){
    .special-title ul.special-title-ul li {margin-right: 20px;}
}
@media screen and (min-width: 480px) and (max-width: 767px){
    .special-title ul.special-title-ul li {margin-right: 15px;}
}
@media screen and (min-width: 0) and (max-width: 479px){
    .special-title ul.special-title-ul li {margin-right: 10px;}
}
